# ---> IDE
# Visual Studio Code
.vscode/

# JetBrains
.idea/

# ---> Python
# Environment
.venv/

# Cache
src/__pycache__/*
src/core/__pycache__/*
src/definitions/__pycache__/*
src/utils/__pycache__/*
tests/__pycache__/*

# Make
/build/
/dist/
